@model IEnumerable<ShiftTracker.Data.Models.Shift>

@{
    ViewData[ "Title" ] = "Index";
}

@if ( Model == null )
{
    <p>Loading...</p>
} else
{
    <div class="tableBorder table-primary">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Run #</th>
                <th scope="col">Start Time</th>
                <th scope="col">Finish Time</th>
             
            </tr>
            </thead>
            <tbody>
            @foreach ( var s in Model )
            {
                <tr>
                    <td>@s.Date.ToShortDateString()</td>
                    <td>@s.Run.Number</td>
                    <td>@s.StartTime.ToString( @"hh\:mm" )</td>
                    <td>@s.EndTime.ToString( @"hh\:mm" )</td>
                    <td class="actionButtons">
                        <a asp-page="/Edit" asp-route-id="@s.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a asp-page="/Delete" asp-route-id="@s.Id"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                
            }
            </tbody>
        </table>
        
    </div>
}